.slider-wrapper{
    width: 940px;
    margin: 0 10px;
    position: relative;
}
/*
     FILE ARCHIVED ON 06:57:01 Jun 14, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:46:36 Jun 29, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 47.342 (3)
  esindex: 0.014
  captures_list: 65.126
  CDXLines.iter: 12.514 (3)
  PetaboxLoader3.datanode: 53.2 (5)
  exclusion.robots: 0.195
  exclusion.robots.policy: 0.182
  RedisCDXSource: 1.845
  PetaboxLoader3.resolve: 447.983 (2)
  load_resource: 483.512
*/