




/*
     FILE ARCHIVED ON 17:49:12 Jun 29, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:49:13 Jun 29, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/* LayerSlider 123 Theme Skin */

.ls-123theme .wpcf7-form fieldset,
.ls-123theme .wpcf7-form,
.ls-123theme .newsletter fieldset,
.ls-123theme .newsletter{
    margin-bottom: 0;
}
.ls-123theme .wpcf7-form input,
.ls-123theme .newsletter input{
    display: inline;
    width: 45%;
}
.ls-123theme .wpcf7-form input.add-margin,
.ls-123theme .newsletter input.first{
    margin-right: 4%;
}
.ls-123theme .wpcf7-form input.full-width,
.ls-123theme .newsletter input.full-width{
    width: 96.5%;
}
.ls-123theme .wpcf7-form p{
    margin: 0;
}
.ls-123theme .wpcf7-form input[type="submit"]{
    margin-bottom: 0;
}
.ls-123theme .wpcf7-form input.full-width[type="submit"]{
    width: 100%;
}
.ls-123theme span.wpcf7-form-control-wrap{
    display: inline;
}
.ls-123theme span.wpcf7-not-valid-tip{
    top: -2px;
    left: 3px;
    color: #555 !important;
    width: 220px;
}
.ls-123theme .wpcf7-response-output{
    font-size: 80%;
    margin: 0 0 18px 0;
}
.ls-123theme .ls-bottom-nav-wrapper {
	position: absolute;
    right: 60px;
    bottom: 18px;
}
.ls-123theme .ls-playvideo {
	width: 50px;
	height: 50px;
	margin-left: -25px;
	margin-top: -25px;
	background-image: url(skin.png);
}
.ls-123theme .ls-bottom-slidebuttons a,
.ls-123theme .ls-nav-start,
.ls-123theme .ls-nav-stop {
	background-image: url(layerslider-123themeskin.png);	
}

.ls-123theme .ls-playvideo {
	background-position: -300px -150px;
}

.ls-123theme .ls-playvideo:hover,
.ls-123theme .ls-vpcontainer:hover .ls-playvideo {
	background-position: -375px -150px;
}
.ls-123theme .ls-nav-start {
	background-position: 0 0;
}
.ls-123theme .ls-nav-start:hover {
	background-position: 0 -20px;
}
.ls-123theme .ls-nav-stop {
	background-position: -20px 0;
}
.ls-123theme .ls-nav-stop:hover {
	background-position: -20px -20px;
}
.ls-123theme .ls-bottom-slidebuttons a {
	background-position: 0 -40px;
}
.ls-123theme .ls-bottom-slidebuttons a:hover{
	background-position: -40px -40px;
}
.ls-123theme .ls-bottom-slidebuttons a.ls-nav-active {
	background-position: -20px -40px;
}
.ls-123theme .ls-bottom-slidebuttons,
.ls-123theme .ls-bottom-slidebuttons a,
.ls-123theme .ls-nav-start,
.ls-123theme .ls-nav-stop,
.ls-123theme .ls-bottom-nav-wrapper,
.ls-123theme .ls-nav-sides {
	height: 20px;
}

.ls-123theme .ls-bottom-slidebuttons,
.ls-123theme .ls-bottom-slidebuttons a,
.ls-123theme .ls-nav-start,
.ls-123theme .ls-nav-stop,
.ls-123theme .ls-nav-sides {
	display: inline-block;
}

.ls-123theme .ls-nav-start{
    width: 20px;
    margin: 0 1px;
}
.ls-123theme .ls-nav-stop {
	width: 20px;
    position: absolute;
    left: 22px;
}
.ls-123theme .ls-bottom-slidebuttons{
    padding-left: 22px;
}
.ls-123theme .ls-bottom-slidebuttons a {
	width: 20px;
    margin: 0 1px;
}
.ls-123theme .ls-nav-prev,
.ls-123theme .ls-nav-next {
	width: 36px;
	height: 36px;
	z-index: 10000;
	top: 50%;
	margin-top: -38px;
	position: absolute;
    opacity: 0; /* Chrome 4+, FF2+, Saf3.1+, Opera 9+, IE9, iOS 3.2+, Android 2.1+ */
    filter: alpha(opacity=0); /* IE6-IE8 */
}
.ls-123theme .ls-nav-prev span,
.ls-123theme .ls-nav-next span{
	display:block;
	width:36px;
	height:36px;
	background-image:url(arrows.png);
    background-repeat: no-repeat;
	text-indent:-9999px;
    background-color: #fcfcfc;
    border: 1px solid #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
    opacity: .8;
}
.ls-123theme .ls-nav-prev {
	left: 0;
    margin-left: -48px;    
    padding: 20px 20px 20px 0;	    
}
.ls-123theme .ls-nav-next {
	right: 0;
    margin-right: -48px;    
    padding: 20px 0 20px 20px;	    
}
.ls-123theme .ls-nav-prev span{
}
.ls-123theme .ls-nav-prev span:hover{
    opacity: 1;
}
.ls-123theme .ls-nav-next span{
	background-position:-36px 0;
}
.ls-123theme .ls-nav-next span:hover{
    opacity: 1;
}